<div (click)="changed()" [style.backgroundColor]="article.isFavorite ?'chartreuse': 'mediumslateblue' "  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative ">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-success">Design</strong>
      <h3 class="mb-0">{{article.title}} <span class="badge badge-secondary">{{badge}}</span> </h3>
      <div class="mb-1 text-muted">Nov 11</div>
      <p class="mb-auto">{{article.content | summary}}</p>
    </div>
    <div class="col-auto d-none d-lg-block">
        <img [src]="article.imagepath" >
    </div>
  </div>